@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0px;
   padding: 0px;
}
h2{
    font-weight: bolder;
    /* font-style: italic; */
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-decoration: overline;
    font-weight: bolder;
    font-family: "Playwrite GB S", cursive;
}

#heading-parant{
    /* background-image: linear-gradient(108deg, black , rgb(14, 167, 146)); */
    background-image: linear-gradient(95deg , rgb(11, 142, 165), transparent),url("../image/photo-1504639725590-34d0984388bd.avif");
    height: 400px;
    background-position: center;
    max-width: 1100px;
    padding: 100px 0px;
    text-align:center;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 91% 93%, 75% 100%, 12% 96%, 0% 75%);    
}

.btn{
    background: rgba(4, 115, 143, 0.808);
    padding: 10px 16px;
    border: 2px solid rgb(8, 156, 214);
    margin-top: 50px;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(4, 10, 10);
    font-weight: 800;
    font-family: "Playwrite GB S", cursive;
    transition: all 1s;
    cursor: pointer;
}
.btn:hover{
    background: rgb(15, 5, 156);
    color: white;
}
/* .span{
    color: white;
} */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}