*{
    margin: 0px;
   padding: 0px;
}
h2{
    color: rgb(250, 250, 255);
    font-weight: bolder;
    /* font-style: italic; */
    font-size: 50px;
    text-decoration: overline;
}

#heading-parant{
    background-color: rgb(4, 69, 129);
    height: 400px;
    width: 800px;
    padding: 100px 0px;
    text-align:center;
    margin: 10px auto;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}